<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - CyberVault</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="login">
    <nav>
        <a href="/">Home</a>
        <a href="/about">About Me</a>
        <a href="/contact">Contact</a>
        <a href="/login">Login</a>
    </nav>
    <video autoplay loop muted playsinline class="bg-video">
        <source src="{{ url_for('static', filename='FN.mp4') }}" type="video/mp4">
        Votre navigateur ne supporte pas la lecture de vidéos.
    </video>
    
    <h1>Login</h1>
    <form action="#" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>

        <button type="submit">Login</button>
    </form>
    <a href="/">Back to Home</a>
</body>
</html>
